html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  margin: 1rem 0;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.home {
  background: radial-gradient(#525252, #131313);
}

.nav-container {
  background: #070707;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 6vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li a {
  color: #888c91;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: white;
}

nav #logo {
  font-family: "Lobster", cursive;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

nav #logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  background: #59940a;
  border-radius: 50%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  mix-blend-mode: screen;
}

nav #contact-button {
  background: #59940a;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  text-transform: unset;
}

.banner-container {
  width: 100%;
  background-image: url(../img/20200915_1739562.jpg);
  background-size: cover;
  max-height: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#showcase-card-1 {
  padding-top: 10rem;
  min-height: 60vh;
}

#showcase-card-1 .info {
  padding-left: 15rem;
}

.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 30vh;
  -ms-grid-columns: 10% (minmax(5rem, 1fr))[2] 10%;
      grid-template-columns: 10% repeat(2, minmax(5rem, 1fr)) 10%;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

.showcase .about-img {
  position: relative;
}

.showcase .about-img:before {
  position: absolute;
  content: "";
  right: -5%;
  top: 5%;
  border: 10px solid #59940a;
  width: 95%;
  height: 95%;
  opacity: 0.7;
}

.showcase h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.showcase h3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
}

.showcase i {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 15rem;
  opacity: 0.3;
}

.showcase img,
.showcase .about-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.showcase .info {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.showcase .info h3 {
  padding-bottom: 3rem;
  text-align: left;
}

.default span {
  color: yellowgreen;
  font-weight: 900;
}

.default a {
  color: #7be000;
}

.default i {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  color: white;
  opacity: 0.3;
}

.reverse span {
  color: yellowgreen;
  font-weight: 900;
}

.reverse a {
  color: #7be000;
}

.reverse .info {
  text-align: left;
}

.reverse i {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: white;
}

#showcase-card-2 {
  margin-top: 5rem;
}

#showcase-card-2 img,
#showcase-card-4 img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#showcase-card-2 .info,
#showcase-card-4 .info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: right;
}

#showcase-card-2 .info h3,
#showcase-card-4 .info h3 {
  padding-bottom: 3rem;
  text-align: right;
}

.skills {
  background: radial-gradient(#525252, #131313);
  min-height: 45vh;
  position: relative;
  z-index: 0;
  padding-top: 5rem;
}

.skills .icon-container {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .icon-container .skill {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem;
}

.skills .icon-container .skill .label {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #92ff00;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skills .fab, .skills .fas {
  font-size: 12rem;
  color: rgba(255, 255, 255, 0.3);
  margin: 2rem;
}

.skills h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.skills p {
  text-align: center;
  margin: 5rem 10%;
}

.projects {
  background: radial-gradient(#525252, #131313);
  position: relative;
  z-index: 0;
  padding-top: 5rem;
}

.projects h2 {
  text-align: center;
  margin-bottom: 6rem;
}

.projects p {
  text-align: center;
  margin-bottom: 5rem;
}

.features-container {
  background: radial-gradient(#525252, #131313);
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 5rem;
}

.features-container .wave {
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 100%;
  z-index: -1;
}

.features {
  min-height: 90vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features h2 {
  text-align: center;
}

.features p {
  text-align: center;
  margin: 0 10%;
}

.features .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10rem;
}

.features .brands .brand-logo {
  width: 10%;
  margin: 6rem;
}

.features #return-to-top {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: black;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem 0 1rem 1rem;
  border-radius: 1rem 0 1rem 1rem;
}

.features #return-to-top a .fas {
  font-size: 6rem;
  margin: 1rem;
}

.features .kolink-spec-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .kolink-spec-container .kolink-spec {
  margin: 5rem auto;
}

.features .kolink-spec-container .kolink-spec li {
  line-height: 5rem;
  font-size: 2rem;
  list-style-type: disclosure-closed;
}

.features .features-card-default {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10rem;
  -ms-grid-columns: 0 (minmax(5rem, 1fr))[2] 0;
      grid-template-columns: 0 repeat(2, minmax(5rem, 1fr)) 0;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

.features .features-card-default .features-card-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.features .features-card-default .features-card-info {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
  margin-top: 4rem;
  border: 1px solid white;
  padding: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.features .features-card-default .features-card-info h3 {
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid #5d9716;
  padding: 1rem 1.5rem;
  -webkit-transform: translate(30px, -60px);
          transform: translate(30px, -60px);
  letter-spacing: 1rem;
  white-space: nowrap;
}

.features .features-card-default .features-card-info p {
  text-align: left;
  margin: 0;
  font-size: 3rem;
}

.features .features-card-flipped {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10rem;
  -ms-grid-columns: 0 (minmax(5rem, 1fr))[2] 0;
      grid-template-columns: 0 repeat(2, minmax(5rem, 1fr)) 0;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  text-align: right;
}

.features .features-card-flipped .features-card-image {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 100%;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.features .features-card-flipped .features-card-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
  margin-top: 4rem;
  border: 1px solid white;
  padding: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.features .features-card-flipped .features-card-info h3 {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #5d9716;
  padding: 1rem 1.5rem;
  -webkit-transform: translate(-30px, -60px);
          transform: translate(-30px, -60px);
  letter-spacing: 1rem;
  white-space: nowrap;
}

.features .features-card-flipped .features-card-info p {
  text-align: right;
  margin: 0;
  font-size: 3rem;
}

.features .features-kolink-img-right {
  width: 80%;
  margin: 0 -30% 10rem auto;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.features .cards .card {
  background: white;
  margin: 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.features .cards .card h4 {
  margin: 2rem 0rem 1rem 0rem;
}

.features .cards .card p {
  padding: 2rem;
}

.features .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.soon {
  background: radial-gradient(#525252, #131313);
  min-height: 80vh;
  position: relative;
  z-index: 0;
}

.soon img, .soon .circle, .soon h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.soon .circle {
  z-index: -1;
}

.soon h2 {
  top: 25%;
}

footer {
  min-height: 10vh;
  background: black;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 2rem 0;
}

footer .footer-content p {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2rem;
}

footer .footer-content #copyright {
  font-size: 1rem;
}

footer .footer-content .fab, footer .footer-content .far, footer .footer-content .fas {
  margin: 2rem 2rem 2rem 0;
}

footer .fab, footer .far {
  font-size: 3rem;
  margin: 0 1rem;
}

.distortion {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 445px;
  height: 556px;
}

.distortion canvas {
  display: inline;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  nav #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul li {
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  .home #showcase-card-1 .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 5rem;
    padding-left: 0;
    text-align: left;
  }
  .skills .icon-container {
    width: 65%;
  }
  .showcase {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .showcase img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .showcase img, .showcase h2, .showcase .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .showcase i {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 5rem 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-size: 25rem;
    opacity: 0.2;
  }
  .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features h2 {
    margin-top: 5rem;
  }
  .features .features-card-default .features-card-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .features .features-card-default .features-card-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .features .features-card-flipped .features-card-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .features .features-card-flipped .features-card-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .features .brands {
    width: 100%;
  }
  .features .brands .brand-logo {
    width: 15%;
  }
  .soon {
    overflow: hidden;
  }
  .soon img {
    width: 60%;
  }
  .soon h2 {
    font-size: 5rem;
    text-align: center;
  }
  footer h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
  Based on the following Codepen by Jintos - 
  https://codepen.io/Jintos/pen/crlxk
*/
/* Clip text element */
.clip-text {
  font-size: 10vw;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
  background-position: right;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: 0.125em;
  right: 0.125em;
  bottom: 0.125em;
  left: 0.125em;
  background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -0.75em 0;
}

.clip-text--no-textzone:after {
  content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_fifteen {
  background-image: url(../img/20200915_1739562.jpg);
}
/*# sourceMappingURL=style.css.map */