html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 1rem 0;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

@import 'home';
@import 'skills';
@import 'projects';
@import 'features';
@import 'soon';
@import 'footer';
@import 'liquidAnimation';
@import 'responsive';
@import 'clip_title'

